#editableDiv {
  width: 700px;
  height: 700px;
  border: 1px solid black;
  padding: 5px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#contentDisplayDiv {
  width: 700px;
  height: 700px;
  border: 1px solid black;
  padding: 5px;
  position: relative;
  text-align: center;
}

#resizableImage {
  cursor: grab;
  max-width: 98%;
  max-height: 98%;
  transition: border 0.1s;
}

#resizableImage.resizable {
  border: 2px solid green;
  cursor: nw-resize;
}
